<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<div>
		<div class="section">
			<div class="article">
				<h2>{{message}}</h2>
				<h2>{{testMsg}}</h2>
				<p>
					This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text.
					You can remove any link to our website from this website template, you're free to use this website template without linking back to us.
					If you're having problems editing this website template, then don't hesitate to ask for help on the Forums.
				</p>
			</div>
			<div class="newsletter">
				<p>
					Are you losing your hair? Let us help you in bringing back your confidence. <span>Call Us at 1800-0000-0000</span>
				</p>
			</div>
		</div>
	</div>
</body>
</html>